<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class="post-outer-cont">
        <div class="post-inner-cont">
          <div class="post-container" id="post-container">
            <form action="POST">
              <div>
                <legend>ID</legend>
                <input type="text" name="blogid" id="blogid" class="blogid" value="<%= blogpost.id %>">
              </div>
              <div>
                <legend>Title</legend>
                <input type="text" name="blogtitle" id="blogtitle" class="blogtitle" value="<%= blogpost.title %>">
              </div>
              <div>
                <legend>Date</legend>
                <input type="date" name="blogdate" id="blogdate" class="blogdate" value="<%= blogpost.date %>">
              </div>
              <div>
                <legend>Content</legend>
                <textarea name="blogcontent" id="blogcontent" class="blogcontent"  cols="30" rows="10"><%= blogcont %></textarea>
              </div>
              <div>
                <legend>Summary</legend>
                <input type="text" name="blogsumm" id="blogsumm" class="blogsumm" value="<%= blogpost.date %>">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>