<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='icon' href='/images/logo/favicon.ico' type='image/x-icon'/ >
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
  <script src="https://kit.fontawesome.com/8092725ea1.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="admin-wrapper">
    <div class="side-menu">
      <div class="admin-div">
        <h1 class="adminheader">ADMIN</h1>
      </div>
      <a href="/admin"><button class="taboptions" id="manage-proj"><i class="fas fa-chevron-left"></i> Go Back</button>
        <div class="logout"></a>
        <a href="/logout"><p>Log Out <i class="fas fa-sign-out-alt"></i></p></a> 
      </div>
    </div>
    <div class="post-outer-cont">
        <div class="post-inner-cont">
          <div class="post-container tabcontent" id="post-container">
            <form method="POST" class="modifyblogs">
              <div>
                <legend>ID</legend>
                <input type="text" name="blogid" id="blogid" class="blogid" readonly="readonly" value="<%= blogpost.id %>" required>
              </div>
              <div>
                <legend>Title</legend>
                <input type="text" name="blogtitle" id="blogtitle" class="blogtitle" onkeyup="slugthis()" value="<%= blogpost.title %>" required>
              </div>
              <div>
                <legend>Date</legend>
                <input type="date" name="blogdate" id="blogdate" class="blogdate" value="<%= blogpost.date %>" required>
              </div>
              <div>
                <legend>Summary</legend>
                <input type="text" name="blogsumm" id="blogsumm" class="blogsumm" value="<%= blogpost.blog_summary %>" required>
              </div>
              <div>
                <legend>Slug</legend>
                <input type="text" name="blogslug" id="blogslug" class="blogslug" readonly="readonly" value="<%= blogpost.slug %>" required>
              </div>
              <div>
                <h3>Tags</h3>
                <input type="text" name="tags" id="tags" class="tags" data-role="tagsinput" value="<%= blogpost.tags %>"></input>
              </div>
              <div>
                <legend>Category</legend>
                <input list="category" name="category" class="category" value="<%= blogpost.category %>"/>
                  <datalist id="category" >
                    <% categories.forEach(function(items){ %>
                      <option value="<%= items %>">
                    <% }) %>
                  </datalist>
              </div>
              <div>
                <legend>Content</legend>
                <textarea name="blogcontent" id="blogcontent" class="blogcontent"  cols="30" rows="10" required><%= blogpost.blog_cont %></textarea>
              </div>
              <div>
                <input type="submit" value="Save" formaction="/admin/updated">
                <input type="submit" value="Delete" formaction="/admin/deleted">
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</body>
<script src="/js/animations.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
</html>