<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel='icon' href='/images/logo/favicon.ico' type='image/x-icon'/ >
  <title><%= pginfo.title %></title>
</head>
<body>
  <div class="admin-wrapper">
    <div class="side-menu">
      <div class="admin-div">
        <h1 class="adminheader">ADMIN</h1>
      </div>
      <div class="logout">
        <p>Log Out <i class="fas fa-sign-out-alt"></i></p>
      </div>
    </div>
    <div class="post-outer-cont">
      <div class="post-inner-cont">
        <div class="post-container" id="post-container">
          <form method="POST" class="addnew">
            <fieldset class="fieldset">
                <div class="parts-cont">
                    <div class="part1">
                      <div>
                        <legend>Title</legend>
                        <input type="text" name="blogtitle" id="blogtitle" class="blogtitle" onkeyup="slugthis()" required>
                      </div>
                      <div>
                        <legend>Date</legend>
                        <input type="date" name="blogdate" id="blogdate" class="blogdate" required>
                      </div>
                    </div>
                    <div class="part2">
                      <div>
                        <legend>Summary</legend>
                        <input type="text" name="blogsumm" id="blogsumm" class="blogsumm" required>
                      </div>
                      <div>
                        <legend>Slug</legend>
                        <input type="text" name="blogslug" id="blogslug" class="blogslug" readonly="readonly" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <legend>Content</legend>
                    <textarea name="blogcontent" id="blogcontent" class="blogcontent"  cols="30" rows="10" required></textarea>
                  </div>
                  <div class="buttoncont">
                    <input type="submit" value="Post" class="buttonadd" formaction="/admin/Posted">
                  </div>
            </fieldset>
          </form>
        </div>
        <div class="blogpost-outer-container">
          <div class="blogpost-inner-container">
            <div class="collection-container">
              <h1>Blogs</h1>
              <% blogss.slice().reverse().forEach(function(items){ %>
                <div class="blogcontainer">
                  <a href="admin/<%= items.slug %>"><h2 class="blog-title"><%= items.title %></h2></a>
                  <div class="blog-info">
                    <p class="blog-date"><%= items.date %></p>
                    <p class="blog-content" id="blog-content"><%= items.blog_summary %></p>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</body>
<script src="/js/animations.js"></script>
</html>