<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="post-outer-cont">
      <h1 class="adminheader"><button>LOGOUT</button>ADMIN</h1>
        <div class="post-inner-cont">
          <div class="post-container" id="post-container">
            <form method="POST" class="modifyblogs">
              <div>
                <legend>ID</legend>
                <input type="text" name="blogid" id="blogid" class="blogid" readonly="readonly" value="<%= blogpost.id %>" required>
              </div>
              <div>
                <legend>Title</legend>
                <input type="text" name="blogtitle" id="blogtitle" class="blogtitle" onkeyup="slugthis()" value="<%= blogpost.title %>" required>
              </div>
              <div>
                <legend>Date</legend>
                <input type="date" name="blogdate" id="blogdate" class="blogdate" value="<%= blogpost.date %>" required>
              </div>
              <div>
                <legend>Summary</legend>
                <input type="text" name="blogsumm" id="blogsumm" class="blogsumm" value="<%= blogpost.blog_summary %>" required>
              </div>
              <div>
                <legend>Slug</legend>
                <input type="text" name="blogslug" id="blogslug" class="blogslug" readonly="readonly" value="<%= blogpost.slug %>" required>
              </div>
              <div>
                <legend>Old Slug</legend>
                <input type="text" name="oldslug" id="oldslug" class="oldslug" readonly="readonly" value="<%= blogpost.slug %>" required>
              </div>
              <div>
                <legend>Content</legend>
                <textarea name="blogcontent" id="blogcontent" class="blogcontent"  cols="30" rows="10" required><%= blogcont %></textarea>
              </div>
              <div>
                <input type="submit" value="Save" formaction="/admin/updated">
                <input type="submit" value="Delete" formaction="/admin/deleted">
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
<script src="/js/animations.js"></script>
</html>