<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-outer-cont">
      <div class="blog-inner-cont">
        <% blogss.forEach(function(items){ %>
          <div class="blogcontainer">
            <h1><%= items.title %></h1>
            <p><%= items.date %></p>
            <p><%= items.blog_cont %></p>
          </div>
        <% }) %>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>