<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text">Blogs</div>
        <div id="subtitle" class="subtitle">Tech - Hobbies - News</div>
      </div>
    </div>
    <div class="category-outer-cont">
      <div class="category-inner-cont">
        <h3>Categories</h3>
        <ul>
          <% categories.forEach(function(items){ %>
            <li><%= items %></li>
          <% }) %>
          </ul>
      </div>
    </div>
    <div class="blog-outer-cont">
      <div class="blog-inner-cont">
        <h1>Latest Blogs</h1>
        <% blogss.slice().reverse().forEach(function(items){ %>
          <div class="blogcontainer">
            <p class="blog-date"><%= items.date %></p>
            <a href="blogs/<%= items.slug %>"><h2 class="blog-title"><%= items.title %></h2></a>
            <p class="blog-content" id="blog-content"><%= items.blog_summary %></p>
          </div>
        <% }) %>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>