<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text">Blogs</div>
        <div id="subtitle" class="subtitle">Tech - Hobbies - News</div>
      </div>
    </div>
    <div class="post-outer-cont">
      <div class="post-inner-cont">
        <div class="post-container">
          <h1 class="post-title"> <%= blogpost.title%> </h1>
          <p class="psot-date"> <%= blogpost.date %> </p>
          <p class="post-content"> <%= blogpost.blog_cont %> </p>
        </div>
      </div>
    </div>

  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>