<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text"><%= blogpost.title%> </div>
        <div id="subtitle" class="subtitle"><%= blogpost.date %></div>
      </div>
    </div>
    <div class="post-outer-cont">
      <div class="post-inner-cont">
        <script>
          a =   blogcont 
        let dv = document.querySelector("#post-container")
        dv.innerHTML += a;
        </script>
        <div class="post-container" id="post-container">
            
        </div>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>