<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text">Blogs</div>
        <div id="subtitle" class="subtitle">Tech - Hobbies - News</div>
      </div>
    </div>
    <div class="container">
      <div class="category-outer-cont">
        <div class="category-inner-cont">
          <div class="searchdiv">
            <h3>Search</h3>
          <form action="search/" class="searchform" method="GET">
            <input type="search" name="q" id="searchfield" class="searchfield" placeholder="Search Blogs">
            <button formaction="/search/"> <i class="fas fa-search searchicon"></i> </button>
          </form>
          </div>
          <div class="catdiv">
            <a href="/blogs/"><h3>All Blogs</h3></a>
            <br>
            <h3>Category</h3>
          <div class="cat-list">
            <% category.forEach(function(items){ %>
              <a href="/category/<%= items %>"><p><%= items %></p></a>
            <% }) %>
          </div>
          </div>
          <div class="tagdiv">
            <h3>Tags</h3>
          <div class="tag-list">
            <% tags.forEach(function(items){ %>
              <div><a href="/tag/<%= items %>"><p><%= items %></p></a></div>
            <% }) %>
          </div>
          </div>
        </div>
      </div>
      <div class="blog-outer-cont">
        <h1><%= pagettl %></h1>
        <div class="blog-inner-cont" id="blog-inner-cont">
          <% blogss.forEach(function(items){ %>
            <div class="blogcontainer">
              <a href="/blogs/<%= items.slug %>"><h2 class="blog-title"><%= items.date %>: <%= items.title %></h2></a>
            <p class="blog-content" id="blog-content"><%= items.blog_summary %></p>
            </div>
          <% }) %>
        </div>
        <button onclick="getNext()"><h2>Load More</h2></button>
        <script>
        </script>
        <!-- <div>
          <button class="previous" onclick="getPrevious()">previous</button>
          <button class="next" onclick="getNext()">next</button>
        </div> -->
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>