<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text"><%= blogpost.title%> </div>
        <div class="subtitle-container">
          <div id="subtitle" class="subtitle"><%= blogpost.date %>&nbsp; <i class="fas fa-long-arrow-alt-right"></i> &nbsp;<a href="/category/<%= blogpost.category %>"><%= blogpost.category%></a></div>
        </div>
      </div>
    </div>
    <div class="post-outer-cont">
      <div class="post-inner-cont">
        <div class="post-container" id="post-container">
          <p class="invitext" id="invitext"><%= blogcont %></p>
          <div class="post-content ng-binding" id="post-content" ng-bind-html="myHTML"> </div>
        </div>
        <div class="tags">
          <% blogpost.tags.forEach(function(items){ %>
            <a href="/tag/<%= items %>"><p><%= items %></p></a>
          <% }) %>
        </div>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>