<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
 <div id="markdown">
  <%

  var converter = new showdown.Converter();
  var text = '# hello, markdown!';
   var a = converter.makeHtml(text);
   
  %>
 <p id="<%= a %>"></p>
  
 </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>