<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <h1>Result for: <%= query %></h1>
  <% blogres.forEach(function(items){ %>
    <div class="blogcontainer">
      <p class="blog-date"><%= items.date %></p>
      <a href="blogs/<%= items.slug %>"><h2 class="blog-title"><%= items.title %></h2></a>
      <p class="blog-content" id="blog-content"><%= items.blog_summary %></p>
    </div>
  <% }) %>
</body>
</html>