<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-outer-cont">
      <div class="blog-inner-cont">
        <h1>Latest Blogs</h1>
        <% blogss.slice().reverse().forEach(function(items){ %>
          <div class="blogcontainer">
              <p class="blog-date"><%= items.date %></p>
            <h2 class="blog-title"><%= items.title %></h2>
            <p class="blog-content"><%= items.blog_cont %></p>
          </div>
        <% }) %>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>