<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="blog-banner-container">
      <div class="blog-banner-inner-container">
        <div class="blog-inner-container-text"><%= blogpost.title%> </div>
        <div id="subtitle" class="subtitle"><%= blogpost.date %></div>
      </div>
    </div>
    <div class="post-outer-cont">
      <div class="post-inner-cont">
        <div class="post-container" id="post-container">
            <iframe src="<%= blogcont %>" frameborder="0" height="100%" width="100%"></iframe>
        </div>
      </div>
    </div>
  <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>