<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= pginfo.title %></title>
  <link rel="stylesheet" href="css/index.css">
  <script src="https://kit.fontawesome.com/8092725ea1.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <nav>
      <div class="nav-full-cont" id="nav-full-cont">
        <div class="nav-container">
          <div class="pg-logo">
            <a class="pg-logo-link" href="<%= pginfo.link %>"> <img class="logo" src="/images/logo/logo.png" alt="logo"></a>
          </div>
          <div class="nav-list-cont">
            <div class="nav-list-ham" id="nav-list-ham-id">
              <ul class="nav-list">
                <li> <a href="/" id="navlink">Overview</a> </li>
                <li> <a href="#project-section" id="navlink">Projects</a> </li>  
                <li> <a href="#contact-section" id="navlink">Contact Me</a> </li>
                <li> <a href="" id="navlink">Blogs</a> </li>
              </ul>
            </div>
            <div id="burger"  class="hamburger"><i class="fas fa-bars"></i></div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <%- include ./partials/banner %>
    <div class="skills-outer-cont" id="skills-outer-cont">
      <div class="skills-inner-cont">
        <div class="top-banner" id="top-banner"> SKILLSET</div>
        <div class="skills-flex" id="skills-flex">
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-node-js"></i></div>
            <div class="skill-description"><p>NodeJS</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-js-square"></i></div>
            <div class="skill-description"><p>JavaScript</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-css3-alt"></i></div>
            <div class="skill-description"><p>CSS</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-html5"></i></div>
            <div class="skill-description"><p>HTML</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-git-alt"></i></div>
            <div class="skill-description"><p>GIT</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"><i class="fab fa-wordpress"></i></div>
            <div class="skill-description"><p>WordPress</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"> <img src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/Photoshop_B-512.png" alt="Photoshop" class="external-logo"> </div>
            <div class="skill-description"><p>Photoshop</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"> <img src="https://cdn.onlinewebfonts.com/svg/img_21237.png" alt="Photoshop" class="external-logo"> </div>
            <div class="skill-description"><p>Illustrator</p></div>
          </div>
          <div class="skills-logo-desc" id="skills-logo-desc">
            <div class="skill-logo"> <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands-1/512/8_Premier_Pro_Adobe_logo_logos-512.png" alt="Photoshop" class="external-logo"> </div>
            <div class="skill-description"><p>Premier Pro</p></div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-outer-cont">
      <div class="project-inner-cont">
        <div class="top-banner-projects" id="top-banner-projects">Projects</div>
        <span class="anchor" id="project-section"></span>
          <div class="projects-flex">
            <% pginfo.projects.forEach(function(iter){ %>
            <div class="project-box">
              <div class="project-preview"><iframe src="<%= iter.url %>" width="100%" height="100%"></iframe></div>
              <div class="project-name">
                <h2><%= iter.title %></h2>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="contact-outer-cont">
        <div class="contact-inner-cont">
           <div class="contact-banner">CONTACT ME</div>
           <span class="anchor2" id="contact-section"></span>
            <form action="/sent" class="contact-container">
              <div class="contact-name">
                <p>Name: </p>
                <input type="text" name="contactname" id="contactname" class="contactname">
              </div>
              <div class="contact-email">
                <p>Email: </p>
                <input type="email" name="contactemail" id="contactemail" class="contactemail">
              </div>
              <div class="contact-message">
                <p>Message: </p>
                <textarea name="contactmessage" id="contactmessage" class="contactmessage" cols="30" rows="5"></textarea>
              </div>
              <button type="submit" class="contact-submit">Submit</button>
            </form>
        </div>
      </div>
    <!-- <div class="intro-outer-cont">
      <div class="intro-inner-cont">
        <div class="portrait-holder"></div>
        <div class="about-content-holder">
          <div class="intro">
            About
          </div>
          <div class="intro-par">
            An IT Graduate from the Philippines
          </div>
        </div>
      </div>
    </div>
  <div id="box"></div> -->
<footer class="footer">
  <div class="footer-inner-cont">
    <div class="footer-name">Floyd Santos</div>
    <ul class="footer-social">
      <li class="footer-social"> <a href="https://bit.ly/2Ech3Jz"><i class="fab fa-twitter"></i></a></li>
      <li class="footer-social"> <a href="https://bit.ly/2REPtNd"><i class="fab fa-facebook-f"></i></a></li>
      <li class="footer-social"> <a href="https://bit.ly/34fb2qt"><i class="fab fa-instagram"></i></a></li>
      <li class="footer-social"> <a href="https://bit.ly/2RDMLHO"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="footer-social"> <a href="https://bit.ly/2PaSTpg"><i class="fab fa-github"></i></a></li>
      <li class="footer-social"> <a href="https://bit.ly/35bb0B4"><i class="fab fa-stack-overflow"></i></a></li>
    </ul>
    <div class="copyright">Copyright 2019</div>
  </div>
</footer>
</body>
<script src="js/animations.js"></script> 
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.2/gsap.min.js"></script>
</html>