<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
    <div class="banner-container" id="banner-container">
      <div class="inner-container">
        <div class="inner-container-text" id="inner-container-text-id"> Floyd Santos</div>
        <div id="webdev" class="webdev" onscroll="scroll()">Web Developer</div>
        <q class="qoute">Work hard, Work fast, then Work smart.</q>
      </div>
    </div>
     <a href="#banner-container"><div class="goup"><i class="fas fa-arrow-up"></i></div></a> 
    <%- include("partials/skillset") %>
    <%- include("partials/projects") %>
    <%- include("partials/contactme") %>
    <!-- <div class="intro-outer-cont">
      <div class="intro-inner-cont">
        <div class="portrait-holder"></div>
        <div class="about-content-holder">
          <div class="intro">
            About
          </div>
          <div class="intro-par">
            An IT Graduate from the Philippines
          </div>
        </div>
      </div>
    </div>
  <div id="box"></div> -->
    <%- include("partials/footer") %>
</body>
<%- include("partials/scripts") %>
</html>